* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    min-height: 100vh;
    padding-top:120px; 
    font-family: "Roboto Condensed", sans-serif;
    display: flex;             
    flex-direction: column;    
}


.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color:#8A2123;
    padding: 5px 0;
    
}
.logo{
    height: 100px;

}
.navdiv{
    display: flex;
    align-items: center;
    max-width: 1500px;        
    justify-content: space-between; 
    margin: 0 auto;            
    padding: 0 20px;
}


li{
    margin: 0 30px;
    list-style: none;
}

li a{
    color: white;
    font-size: 18px;
    font-weight: bold;

}
.navdiv ul {
    display: flex;
    align-items: center; 
    margin: 0;
    padding: 0;
}

.main-content-wrapper {
    flex-grow: 1; 
    width: 100%; 
}

.principal{
  
    display: flex;
    align-items: center;   
    justify-content: center; 
    text-align: left;
    
    padding: 50px 20px; 
    
    min-height: calc(100vh - 120px); 
    max-width: 1500px;
    margin: 0 auto;
}
.texto {
    width: 50%;
    padding-right: 40px; 
}
.texto h1{
    font-family: "Julee", cursive;
    font-weight: 600;  
    font-size: 50px;
    font-style: normal;
    margin-bottom: 50px;
}

.texto p{
    width: 650px;
    font-size: x-large;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin-bottom: 50px;

}  

/*BOTOES*/
button {
    font-family: "Inter", sans-serif;
    color: black;
    padding: 0.9em 2.5em;
    font-size: 20px;
    border-radius: 0.5em;
    background: #8A2123;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  

}

button:hover {
  border: 1px solid white;
}

button:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

button a{
    color: white;
}

.botao2{
    margin-left: 50px;
}

.imagem {
    /* REMOVA: position: absolute; */
    width: 50%; /* Ocupa metade da largura */
    text-align: right; /* Alinha a imagem à direita */
}

.imagem img{
    /* REMOVA: position: absolute; top: 10px; right: 10px; */
    width: 100%; /* Garante que a imagem se ajuste ao contêiner de 50% */
    max-width: 600px; /* Limita o tamanho máximo */
    height: auto;
    border-radius: 1em;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.3);
}

/* houver */
.hover-active {
    background-color: #b3393f;
    transform: scale(1.05);   
}

/* CARDAPIO */
header.cardapio {
    width: 100%;
    min-height: 200px;

   
}

.sumario{
    max-width: 1500px;
    margin: 50px auto; 
    text-align: center; 
    padding-bottom: 50px;
    font-family: "Julee", cursive;
    font-weight: 600;  
    font-size: 30px;
    font-style: normal;
    
}

.botoes_sumario {
    flex-direction: column;
    align-items: center;
    display: flex;           
    justify-content: center;   
    gap: 20px;                 
    margin-top: 20px;         
}

.sumario button {
    display: block;           
    width: 250px;             
    height: 60px;            
    padding: 0;               
    margin: 10px auto;        
    font-size: 20px;          
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border-radius: 10px;      
    background: #8A2123;
    color: white;
    border: 1px solid #e8e8e8;
    cursor: pointer;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    text-align: center;
    transition: all 0.3s;
}

.sumario button:hover {
    border: 1px solid white;
    transform: scale(1.05);   
}



/* Entradas */

.bloco-vermelho {
    position: relative;
    width: 1018px;
    height: 571px;
    background-color: #8A2123;
    margin: 50px auto;         
    display: flex;             
    justify-content: center;   
    align-items: center;      
    border-radius: 10px;       
}

.entrada h1{
    position: absolute;
    top: 50px;
    left: 60px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 60px;
    color: white;

}

.entrada-item {
    position: absolute;  
    bottom: 250px; 
    left: 60px;   
    text-align: left;        
    color: white;            
    font-family: "Inter", sans-serif;
}
.entrada-item h3 {
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Jaro", sans-serif;
    
}

.entrada-item p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    width: 300px;
    font-family: "Inter", sans-serif;
}


.entrada-item2 {
    position: absolute;  
    bottom: 40px; 
    left: 60px;   
    text-align: left;        
    color: white;            
    font-family: "Inter", sans-serif;
}
.entrada-item2 h3 {
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Jaro", sans-serif;
    
}

.entrada-item2 p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    width: 300px;
    font-family: "Inter", sans-serif;
}

.entrada-item3{
    position: absolute;  
    bottom: 252px; 
    left: 660px;   
    text-align: left;        
    color: white;            
    font-family: "Inter", sans-serif;
}
.entrada-item3 h3 {
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Jaro", sans-serif;
    
}

.entrada-item3 p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    width: 300px;
    font-family: "Inter", sans-serif;
}

.salada{
    position: absolute;
    left: 10px;
    width: 300px;
    height: 300px;
    z-index: -1
}

.siri{
    position: absolute;
    top: 810px;
    right: 10px;
    width: 300px;
    height: 300px;
    z-index: -1   
}


.principal-item {
    position: absolute;  
    bottom: 230px; 
    left: 60px;   
    text-align: left;        
    color: white;            
    font-family: "Inter", sans-serif;
}
.principal-item h3 {
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Jaro", sans-serif;
    
}

.principal-item p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    width: 300px;
    font-family: "Inter", sans-serif;
}

.principal-item3{
    position: absolute;  
    bottom: 205px; 
    left: 660px;   
    text-align: left;        
    color: white;            
    font-family: "Inter", sans-serif;
}
.principal-item3 h3 {
    
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 35px;
    margin-bottom: 10px;
    font-family: "Jaro", sans-seriprincipal
}
.principal-item3 p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    width: 300px;
    font-family: "Inter", sans-serif;
}

.camarao{
    position: absolute;
    top: 1163px;
    left: 10px;
    width: 300px;
    height: 300px;
    z-index: -1
}

.historia{
    width: 100%;
    min-height: 200px;
    justify-items: center;
}

.historia h1{
    font-family: "Julee", cursive;
    font-weight: 600;  
    font-size: 50px;

}

.historia p{
    width: 650px;
    font-size: x-large;
    font-family: "Inter", sans-serif;
    font-weight: 100;
    margin-bottom: 50px;
    justify-content: center;
}

.ft-entrada{
    position: absolute;
    right: 10px;
    top: 180px;
    width: 400px;
}
.main-footer {
    background-color: #8A2123;
    color: white;
    padding: 30px 20px;
    width: 100%;
}

.footer-content-simples {
   
    max-width: 1500px;
    margin: 0 auto;
    
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px;
    font-size: 14px;
}


.footer-info p,
.footer-copyright p {
    margin: 5px 0;
    line-height: 1.4;
}

.footer-nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.footer-nav a:hover {
    opacity: 1;
    text-decoration: underline;
}

.footer-copyright {
    text-align: right;
    opacity: 0.7;
}


@media (max-width: 768px) {
    .footer-content-simples {
        flex-direction: column;
        text-align: center;
    }
    
    .footer-info,
    .footer-nav,
    .footer-copyright {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer-nav a {
        display: inline-block; 
        margin: 0 10px;
    }
}
.main-content-wrapper {
   
    flex-grow: 1; 
    
   
    width: 100%; 
}